html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    min-width: 300px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
}

.calculator {
    display: flex;
    justify-content: center;
}

.col-cntr {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.calculation {
    margin: 0 5px 5px 5px;
    padding: 15px 0;
    min-height: 70px;
}

.calculation p {
    font-size: 3rem;
    text-align: right;
    padding-right: 8%;
    margin-bottom: 0;
    color: white;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
    border: none;
    border-radius: 100%;
    padding: 5px;
    margin: 5px;
    width: 80px;
    height: 80px;
}

#undo, #clear, #hundredth {
    background-color: rgb(156, 156, 156);
}

.number {
    background-color: rgb(57, 57, 57);
    color: white;
}

.operator, .equals {
    background-color: rgb(221, 151, 0);
    color: white;
    font-size: 4.2rem;
}

button:hover {
    cursor: pointer;
}

.operator:active {
    opacity: 0.8;
}