html {
    font-family: "Fredoka", sans-serif;
    font-size: 10px;
    min-width: 300px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
}

.calculator {
    display: flex;
    justify-content: center;
}

.col-cntr {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 3rem;
    border-radius: 100%;
    border: none;
    padding: 10px;
    margin: 5px;
    width: 80px;
    height: 80px;
}

#undo, #clear, #hundredth {
    background-color: rgb(156, 156, 156);
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #decimal {
    background-color: rgb(80, 80, 80);
    color: white;
}

#divide, #multiply, #subtract, #add, #calculate {
    background-color: rgb(19, 228, 130)
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}